html {
    max-width: 500px;
    margin: auto;
}

body {
    background-color: black;
    color: #ffe28a;
}

h1 {
    color: #6fcb9f;
}

h3 {
    color: #fb2e01;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 60%;
    width: 100%;
}

img {
    height: 7rem;
    width: 7rem;
}