html {
    max-width: 500px;
    margin: auto;
}

body {
    background-color: black;
    color: #ffe28a;
}

h1 {
    color: #6fcb9f;
}

h3 {
    color: #fb2e01;
}

a {
    color: #6fcb9f;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 60%;
    width: 80%;
}

img {
    height: 5em;
    width: 5em;
}