body {
    background-color: black;
    color: #ffe28a;
}

h1 {
    color: #6fcb9f;
}

h3 {
    color: #fb2e01;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
}
